@mixin rounded-corners($radius: 20px) {
   -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded-corners-top($radius: 20px) {
   -moz-border-radius: $radius $radius 0px 0px;
  -webkit-border-radius: $radius $radius 0px 0px;
  -khtml-border-radius: $radius $radius 0px 0px;
  border-radius: $radius $radius 0px 0px;
}

@mixin rounded-corners-left($radius: 20px) {
   -moz-border-radius: $radius 0px  0px $radius;
  -webkit-border-radius: $radius 0px  0px $radius;
  -khtml-border-radius: $radius 0px  0px $radius;
  border-radius: $radius 0px  0px $radius;
}

@mixin box-shadow {
  -moz-box-shadow: 0px 0px 4px #999;
  -webkit-box-shadow: 0px 0px 4px #999;
  box-shadow: 0px 0px 4px #999;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#999999')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#999999');
}

@mixin box-shadow-inset1 {
  -moz-box-shadow: 0px 0px 5px #aaa inset;
  -webkit-box-shadow: 0px 0px 5px #aaa inset;
  box-shadow: 0px 0px 5px #aaa inset;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=360, Color='#aaaaaa')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=360, Color='#aaaaaa');
}

@mixin linear-gradient-top-down($color1:#cccccc, $color2:#ffffff) {
  background: $color1; /* for non-css3 browsers */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from($color1), to($color2)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  $color1,  $color2); /* for firefox 3.6+ */ 
}

.webfont-questrial {
  font-family: 'Questrial', sans-serif;
}

.content .home-subscribe-container {
  width: 800px;
  margin: 0px auto;
  color: #666666;
  font-size: 14px;
  padding: 10px;
  background-color: #e4efc8;
  padding:40px;
  
  @include rounded-corners();
  @include box-shadow();
}

.content .home-subscribe-container .message-text {
  font-size:22px;
  line-height:28px;
  color:#406c21;
}

.content .home-subscribe-container .form {
  margin:30px 0px;
}

.content .home-subscribe-container .input-boxes input {
  font-size:18px;
  padding:10px;
  width:350px;
  margin-right:15px;
  border:1px solid #ccc;
  
  @include rounded-corners(8px);
}

.content .home-subscribe-container .go-button {
  margin-top:15px;
  width:195px;
  height:39px;
  background-image: image-url("shared/button-bg.png");
  border:0px;
  font-size:17px;
  color:#fff;
  cursor:pointer;
  background-color:transparent;
}

.content .home-subscribe-container .go-button:hover {
  background-image: image-url("shared/button-bg-hover.png");
}

// Login page

.devise.sessions .login-container {
  width: 788px;
  height:306px;
  margin: 0px auto;
  color: #666666;
  font-size: 14px;
  padding: 10px;
  padding:40px;
  background-image:image-url("sessions/login-bg.png");
  background-repeat:none;
}

.devise.sessions .login-container .alert {
  text-align:center;
  color:red;
  margin:24px 0px;
}

.devise.sessions .login-container .input-boxes {
  text-align:center;
}

.devise.sessions .login-container .input-boxes input {
  font-size:18px;
  padding:10px;
  width:350px;
  margin-right:15px;
  border:1px solid #ccc;
  
  @include rounded-corners(8px);
  @include box-shadow-inset1();
}

.devise.sessions .login-container .login-button {
  margin-top:15px;
  width:195px;
  height:39px;
  background-image: image-url("shared/button-bg.png");
  border:none;
  font-size:17px;
  color:#fff;
  cursor:pointer;
  text-align:center;
  background-color:transparent;
}

.devise.sessions .login-container .login-button:hover {
  background-image: image-url("shared/button-bg-hover.png");
}

// Apps Controller

.apps .applications-container {
  width:900px;
  margin:0px auto;
}

.apps .applications-container .applications-tab {
  float:right;
  background-color:#395c22;
  padding:8px 15px 16px 15px;
  color:#fff;
  font-size:14px;
  
  @include rounded-corners-top(10px);
}

.apps .applications-container .applications {
  border:2px solid #859066;
  background-color:#e7f1cc;
  position:relative;
  top:-11px;
  
  @include rounded-corners(10px);
}

.apps .applications-container .applications .application {
  padding:20px;
  border-bottom:1px solid #696d5c;
}

.apps .applications-container .applications .application:last-child {
  border-bottom:none;
}

.apps .applications-container .applications .application .app-icon {
  float:left;
  width:72px;
  height:72px;
}

.apps .applications-container .applications .application .content {
  float:left;
  margin-left:20px;
  width:470px;
}

.apps .applications-container .applications .application .content .app-name {
  font-size:23px;
  margin:8px 0px;
}

.apps .applications-container .applications .application .actions {
  float:left;
  margin-left:20px;
}

.apps .applications-container .applications .application .actions .send-broadcast-button {
  width:252px;
  height:50px;
  border:none;
  background-color:transparent;
  background-image:image-url("apps/send-broadcast-button.png");
  cursor:pointer;
  font-size:18px;
  color:#99662f;
}

.apps .applications-container .applications .application .actions .send-broadcast-button:hover {
  background-image:image-url("apps/send-broadcast-button-hover.png");
}

// Notifications controller

.notifications .new-notification-container {
  width:900px;
  margin:0px auto;
}

.notifications .header-application-container .app-icon {
  float:left;
  width:72px;
  height:72px;
}

.notifications .header-application-container .content {
  float:left;
  margin-left:20px;
  width:470px;
}

.notifications .header-application-container .content .app-name {
  font-size:23px;
  margin:8px 0px;
}

.notifications .header-application-container .title {
  font-size:23px;
  color:#000;
  float:right;
  margin-top:20px;
}

.notifications .content-container {
  margin-top:30px;
  position:relative;
}

.notifications .content-container .side-bar {
  width:110px;
  float:left;
}

.notifications .content-container .side-bar ul {
  margin:0px;
  margin-top:35px;
}

.notifications .content-container .side-bar li {
  list-style:none;
  padding:10px 20px;
  background-color:#6f913a;
  margin-left:0px;
  margin-bottom:8px;
  
  @include rounded-corners-left(15px);
}

.notifications .content-container .side-bar li.active {
  background-color:#395c22;
}
  
.notifications .content-container .side-bar li a {
  color:#fff;
  font-size:18px;
  line-height:22px;
  text-decoration:none;
}

.notifications .content-container .middle-container {
  width:740px;
  float:left;
  border:2px solid #8b9d5f;
  background-color:#d7e9ad;
  padding:20px;
  min-height:200px;
  
  @include rounded-corners(10px);
}

.notifications .new-notification-container .first-column {
  width:150px;
  text-align:right;
  float:left;
  clear:both;
  margin:5px 20px;
  line-height:22px;
}

.notifications .new-notification-container .second-column {
  float:left;
  margin:5px 0px;
}

.notifications .new-notification-container .second-column input[type=submit] {
  background-color:#fecf65;
  padding:3px 10px;
  border:1px solid #c89031;
  cursor:pointer;
  
  @include box-shadow();
}

.notifications .new-notification-container .errorExplanation {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  padding: 10px;
  width: 500px;
}

.notifications .new-notification-container .errorExplanation h2 {
  font-size:18px;
}

.notifications .new-notification-container .sticky-note {
  position:absolute;
  width:150px;
  height:100px;
  margin:15px 20px;
  right:15px;
  top:20px;
  padding:10px;
  
  @include linear-gradient-top-down(#eeeeee, #fafafa);
  @include box-shadow();
}

.notifications .notifications-history-container {
  width:900px;
  margin:0px auto;
}

.notifications .notifications-history-container table {
  width:100%;
}

.notifications .notifications-history-container table thead th {
  background-color:#4b6d30;
  padding:5px;
  color:#fff;
  font-size:14px;
  text-align:center;
}

.notifications .notifications-history-container table tr td {
  padding:5px;
  color:#565b47;
  font-size:14px;
  text-align:center;
}