body.subscription_admin table td, body.subscription_admin table th {
	padding-right: 1em;
}

body.subscription_admin table th {
	font-weight: bold;
}

h2 {
	margin-top: 10px;
}

/* home page box design (subscribe page)*/
input[type=submit] {
	margin-top: 1em;
}
.home_subscribe
{
	width: 70%;
	border: 1px solid #AAAAAA;
	clear: both;
	color: #666666;
	font-size: 14px;
	padding: 10px;
	text-align: center;
}

/*notification page listing*/
.gray-bdr {
    border: 1px solid #313031;
}
.vgg {
    background-color: #CCCCCC;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-siz: 12px;
	height: 30px;
}
