@mixin rounded-corners($radius: 20px) {
   -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow {
  -moz-box-shadow: 0px 0px 4px #999;
  -webkit-box-shadow: 0px 0px 4px #999;
  box-shadow: 0px 0px 4px #999;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#999999')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#999999');
}

.webfont-questrial {
  font-family: 'Questrial', sans-serif;
}

.content .home-subscribe-container {
  width: 800px;
  margin: 0px auto;
  color: #666666;
  font-size: 14px;
  padding: 10px;
  background-color: #e4efc8;
  padding:40px;
  
  @include rounded-corners();
  @include box-shadow();
}

.content .home-subscribe-container .message-text {
  font-size:22px;
  line-height:28px;
  color:#406c21;
}

.content .home-subscribe-container .form {
  margin:30px 0px;
}

.content .home-subscribe-container .input-boxes input {
  font-size:18px;
  padding:10px;
  width:350px;
  margin-right:15px;
  border:1px solid #ccc;
  
  @include rounded-corners(8px);
}

.content .home-subscribe-container .go-button {
  margin-top:15px;
  width:194px;
  height:37px;
  background-image: image-url("content/go-button-bg.png");
  border:none;
  font-size:17px;
  color:#fff;
  cursor:pointer;
}

.content .home-subscribe-container .go-button:hover {
  background-image: image-url("content/go-button-bg-hover.png");
}

// Login page

.devise.sessions .login-container {
  width: 600px;
  margin: 0px auto;
  color: #666666;
  font-size: 14px;
  padding: 10px;
  background-color: #e4efc8;
  padding:40px;
  
  @include rounded-corners();
  @include box-shadow();
}

.devise.sessions .login-container .input-boxes {
  text-align:center;
}

.devise.sessions .login-container .input-boxes input {
  font-size:18px;
  padding:10px;
  width:350px;
  margin-right:15px;
  border:1px solid #ccc;
  
  @include rounded-corners(8px);
}

.devise.sessions .login-container .login-button {
  margin-top:15px;
  width:194px;
  height:37px;
  background-image: image-url("content/go-button-bg.png");
  border:none;
  font-size:17px;
  color:#fff;
  cursor:pointer;
  text-align:center;
}

.devise.sessions .login-container .login-button:hover {
  background-image: image-url("content/go-button-bg-hover.png");
}