<% unless current_user %>
  <table width="72%">
      <tr>
        <td align="right">
          <p>
            <%= link_to('Login', '/users/sign_in') %>
          </p>
        <td> 
      </tr>
  </table>    
  <div class="home_subscribe">
    <table width="50%">
      <tr>
        <td>
          <%= form_tag subscriber_save_path %>
            <table cellpadding=10 cellspacing=10>
              <tr>
                <td colspan=3 align="left">
                  Welcome to BrightPush! We are currently busy working on next generation content delivery engine for the web, and have some exiting things under out sleeve.<br><br>Now seriously, why not just signup below and we will let you now one we are up and running!
                </td>
              </tr>
              <tr>
                <td>
                  <%= text_field "name", "", :placeholder => "Name"%>
                </td>
                <td>
                  <%= text_field "email", "", :placeholder => "Email"%>
                </td>
                <td>
                  <input type="submit" value="Go!" style="margin-top:0px"/>  
                </td>
              </tr>
            </table>
        <td> 
      </tr>
    </table>
  </div>
<% end %>